.cabecalho__menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url("../imagens/Menu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
  }

  .cabecalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
  }

  .container {
    display: flex;
    align-items: center;
  }

  .container img, span {
    padding: 1em;
  }

  .container__menu-item {
    display: none;
  }

  .container__titulo {
    display: none;
  }
  
  @media screen and (min-width: 1024px) {  
    .container__titulo {
      display: block;
      font-family: var(--fonte-secundaria);
      font-weight: var(--fonte-secundaria-normal);    
      font-size: 1.875em;
    }
  
    .container__titulo, .negrito {    
      font-weight: bold;   
    }
  
    .cabecalho__menu {
      display: none;
    }
  
    .container .favorito {
      display: none;
    }

    .container__menu-item {      
      padding: 1em;
      display: flex;
    }

    .container__menu-item a {
      margin-left: 1em;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
  
  